@font-face {
    font-family: "../fonts/LexendDeca-Bold.ttf";
    src: url("../fonts/LexendDeca-Bold.ttf");
}

@font-face {
    font-family: "../fonts/SpaceMono-Regular.ttf";
    src: url("../fonts/SpaceMono-Regular.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');