.rounds {
    margin: 0px;
    margin-top: 200px;
    padding: 0px;
    padding-left: 165px;
    &__container {
        display: flex;
        margin-bottom: 165px;
    }
    .rounds__container:nth-child(even) {
        flex-direction: row-reverse;
    }
    .rounds-right {
        width: 445px;
        margin-left: 90px;
    }
    .rounds__head {
        width: 445px;
        font-family: Space Mono;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: #495567;
    }
    .rounds_desc {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
}

@media screen and (max-width: 768px) {
    .rounds {
        .rounds__container {
            flex-direction: column-reverse;
        }
        .rounds__container:nth-child(even) {
            flex-direction: column-reverse;
        }
        .rounds__head {
            width: 100%;
            max-width: 457px;
            margin: 0px auto;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            color: #495567;
        }
        .rounds__desc {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #939CAA;
        }
        .rounds__button {
            width: 100%;
            max-width: 190px;
            margin-left: 100px;
        }
    }
}